{"Servers":{"rancherDefault":{"accessKey":"token-bc8kp","secretKey":"jf5vftl79wqqf6mn2h8v79k8fb9s2jcftnjvc94b9nddbj9fpr96jv","tokenKey":"token-bc8kp:jf5vftl79wqqf6mn2h8v79k8fb9s2jcftnjvc94b9nddbj9fpr96jv","url":"{{ rancher_server_url }}","project":"{{ cluscheck.json['data'][0] ['id']  }}","cacert":"{{ caCerts }}"}},"CurrentServer":"rancherDefault"}

